<!DOCTYPE html>
<html>
<head>
  <title>Chromosome Studio Architecture</title>
  <meta charset="UTF-8">
  <meta name="description" content="Chromosome Architecture Studio Timisoara">
  <meta name="keywords" content="Arhitectura,Architecture,Timisoara,Design, Chromosome, Studio, Interior design, Utvin, arhitect, Dana Ardelean, proiectare, case, amenajare, randari, rendering, concept, contemporan, modern, minimalism, chromosome architecture, chromosome timisoara">
  <meta name="author" content="Dana Ardelean">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">
</head>
<meta name="nosnippets">
<meta charset="UTF-8">
<meta http-equiv="expires" content="0">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<!-- build:css css/main.css -->
<link rel="shortcut icon" href="images/logo_small.jpg" />
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="angular/pic-modal.css">
<!-- endbuild -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-touch.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
<script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
<script src="node_modules/angular-translate/dist/angular-translate.min.js"></script>
<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
<script src="service/loader-static-files.js"></script>

<body ng-app="picdemoLightbox" ng-controller="PicModalCtrl"  ng-cloak>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <ul class="w3-navbar w3-white w3-card-2" id="myNavbar">
    <li>
      <a href="/" id="bigLogo">
      </a>
    </li>
    <!-- Right-sided navbar links -->
    <li class="w3-right w3-hide-small w3-hide-medium">
      <a href="projects"><i class="fa fa-th"></i> {{ 'load.navigation.projects' | translate }}</a>
      <a href="contact"><i class="fa fa-envelope"></i> {{ 'load.navigation.contact' | translate }}</a>
      <a ng-click="changeLanguage()" class="link"><i class="fa fa-language"></i>  {{key}}</a>
    </li>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->
    <li>
      <a href="javascript:void(0)" class="w3-right w3-hide-large w3-display-right" ng-click="showme=!showme">
        <i class="fa fa-bars w3-padding-right w3-padding-left"></i>
      </a>
    </li>
  </ul>
</div>

<!-- Sidenav on small screens when clicking the menu icon -->
<nav class="w3-sidenav w3-black w3-card-2 w3-animate-left w3-hide-large" ng-show="showme" id="mySidenav">
  <a href="javascript:void(0)" ng-click="showme=false" class="w3-large w3-padding-16">{{ 'load.navigation.close' | translate }} ×</a>
  <a href="projects" ng-click="showme=false">{{ 'load.navigation.projects' | translate }}</a>
  <a href="contact" ng-click="showme=false">{{ 'load.navigation.contact' | translate }}</a>
  <a ng-click="changeLanguage()">{{key}}</a>
</nav>

<div ui-view></div>
<!-- <div ui-view></div> -->
<!-- build:js js/main.js -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwW7Hfmgg0jlOrpk_qB8HkQQhXJUzOyik"></script>  
<script src='main.js'></script>
<script src='angular/site-controller.js'></script>
<script src='components/map/map-contact.js'></script>
<script src="project_repo/projects03.js"></script>
<!-- endbuild -->
</body>
</html>
