/* Modals */
.modal-backdrop.in {
	opacity: .85;
	filter: alpha(opacity=85);
}
.modal {
	overflow: hidden;
}
.modal-dialog {
	height:100%;
	width:100%;
	margin:0;
}
.modal-content {
	height: 100%;
	width: 100%;
  background-color:white;
  border:none;
  box-shadow:none;
}
.modal-body {
  height: 100%;
  padding:0;
}
.modal-body .img-group {
  /* width:90%; */
	/* position: absolute;
  top:50%;
  left:50%;
  -ms-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%); */
	display: flex;
  height: 99vh; /* Or whatever */
}
.img-group .close {
  z-index:2;
  color:#fff;
  background-color:#000;
  opacity:1;
  height: 1.5em;
  width: 1.5em;
  position: absolute;
  top: 0;
  right: 0;
}

.img-group .img-responsive {
  width:100%;
}

/**/
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
/**/
.carousel {
  display:inline-block;
  width: 75%;
  margin-left:auto;
  margin-right:auto;
  height:100%
}
.carousel-indicators {
  display: none;
}
.carousel-caption {
	overflow: auto;
	line-height: 20px;
	color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: justify;
	text-shadow: none;
	top: 50%;
	left: 4%;
	right: 4%;
  bottom: inherit;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.carousel-caption p{
		min-height: 10em;
		display: table-cell;
		vertical-align: middle;
		line-height: 1.3;
}
.description-container {
	line-height: 1.3;
	color:black; 
}
.nonDraggableImage{
    -webkit-user-drag: none;
}
.modal-description-panel {	
	padding-right: 31px;
}

.modal-description-panel ol{
	padding-left: 0px;	 
	padding-top: 31px;	
	list-style: none;
	width:100%
}
@media only screen and (max-aspect-ratio: 1/1) {
	.carousel {
	  width: 100%;
	}
	.carousel-pic {
		height: 28.5vh!important;
	}
	.carousel-caption {
		overflow: auto;
 		line-height: 2.5vh;
 		position: absolute;
 		top: 45%;
	}
	.modal-body .img-group {
    top: 30%;
	}
	.img-group .close {
	  color:#000;
	  background-color:#fff;
	}

		.img-group .close span {
			font-size: 35px;
			font-weight: 900;
		}
	.modal-description-panel {
		width: auto!important;
		height: auto!important;
		display: block!important;
		position: absolute!important;
		bottom: -40vh;
	}
	.description-container {
		padding-top: 10px!important;
	}
	.modal-side-buttons {
		display: none;
		color:black;
	}
}

@media (min-aspect-ratio: 16/11) {
 .img-group .img-responsive {
    width:auto;
    max-width:70%;
    margin: auto;
  }
  .img-group .close {
    position:absolute;
    right:0.3em;
    z-index:10;
	}
	.modal-description-panel {	
		padding-left: 31px;
		padding-right: 5px;
	}
	pre {
		font-size: 4vh;
	}
}
.modal-open {
overflow: visible !important;
}
.modal-description-panel {
	/* width:25%; */
	width: 250px;  /* Or whatever */
	height: 100vh; /* Or whatever */
	margin: auto;  /* Magic! */
  color:white;
  height: 97.5%;
  display: inline-block;
}
/*hide background for carusel controls*/
.carousel-control.left, .carousel-control.right {
  background-image: none;
  color: black;
}
.carousel-control.left .glyphicon-chevron-left {
	left: 15%;
}
.carousel-control.right .glyphicon-chevron-right {
	right: 15%;
}
.carousel-inner img {
	/* height: 70vh;
	margin:0 auto; */
	width: auto;  /* Or whatever */
	height: 100vh; /* Or whatever */
	margin: auto;  /* Magic! */
}
pre {
margin : 0;
padding : 0;
color : black;
font-size: 14px;
border: 0;
line-height: 1.8;
background-color: transparent;}
