<div class="modal-body" >
  <div class="img-group">
    <div uib-carousel active="slides.active" ng-swipe-left="swipeNext()" ng-swipe-right="swipePrevious()"
      interval="myInterval" no-wrap="noWrapSlides" class="carousel-fade">
      <div uib-slide ng-repeat="slide in slides track by slide.id"
        index="slide.id">
        <img ng-src="{{slide.pic}}" alt="{{design}}" class="carousel-pic nonDraggableImage"/>
        <div class="carousel-caption" ng-show="showRomanian">{{slide.text.RO}}</div>
        <div class="carousel-caption" ng-show="!showRomanian">{{slide.text.EN}}</div>
      </div>
    </div>
    <button type="button" class="close close-lg" ng-click="ok()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <div class="modal-description-panel">
      <div>
        <ol class="w3-left modal-side-buttons">
          <li>
            <a ng-click="setDescriptionActive()" ng-show="hasDescription()">
             <b>{{ 'load.modalMeniu.description' | translate }}</b>
            </a>
          </li>
          <li><a ng-click="setImagesActive()"
                 ng-show="hasDescription() || imagesObj[positionInArray].drawings">
                 <b>{{ 'load.modalMeniu.images' | translate }}</b>
          </a></li>
          <li><a ng-click="setDrawingsActive()" ng-show="imagesObj[positionInArray].drawings">
            <b>{{ 'load.modalMeniu.drawings' | translate }}</b>
          </a></li>
        </ol>
      </div>
      <div class="w3-left description-container">
          <div><b>{{imagesObj[positionInArray].sideDescription.title}}</b></div>
          <p style="white-space: pre-wrap;" ng-show="showRomanian">
{{imagesObj[positionInArray].sideDescription.body.RO}}
          </p>
          <p style="white-space: pre-wrap;" ng-show="!showRomanian">
{{imagesObj[positionInArray].sideDescription.body.EN}}
          </p>
      </div>
    </div>
  </div>
</div>
